head{
    background-color:purple;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, yellow, rgb(255, 236, 32), #f3a3d6, rgb(136,144,226));
}

hr {
    border-color: green;
}

/*rgb(255, 236, 32)*/